app = "rat-controller"
primary_region = "ams"

[build]
  dockerfile = "backend.Dockerfile"

[env]
  PORT = "8080"
  HOST = "0.0.0.0"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
  [services.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25
